.country_overview {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 5px;

    align-items: start;
    justify-items: stretch;
}

img.country_overview {
    grid-column: 0;
    grid-row: 0;
}

#details.country_overview {
    grid-column: 1;
    grid-row: 0;
}
